<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<label id="control-motors-off" class="btn btn-default" style="width: 100%">
    <i class="fa fa-power-off"></i>
    Motors off
</label>

<style>
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
</style>
