<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="container-fluid" style="width: 30%">
    <div class="row">
        <div class="text-center col-xs-4 nopadding">
            <xy></xy>
        </div>
        <div class="text-center col-xs-4 nopadding">
            <z></z>
        </div>
        <div class="text-center col-xs-4 nopadding">
            <e></e>
        </div>
    </div> <!-- row end -->
    <div class="row" style="margin-top:20px;">
        <div class="col-xs-8 nopadding">
            <length></length>
        </div>
        <div class="col-xs-4 nopadding">
            <additional></additional>
        </div>
    </div> <!-- row end -->
</div> <!-- container end -->
