<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default">
    <input id="length-01" type="radio" name="options">0.1
  </label>
  <label class="btn btn-default active">
    <input id="length-1" type="radio" name="options" checked>1
  </label>
  <label class="btn btn-default">
    <input id="length-10"type="radio" name="options">10
  </label>
  <label class="btn btn-default">
    <input id="length-100" type="radio" name="options">100
  </label>
</div>

<style>
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
</style>
